{% extends "base.html" %}
{% block content %}
<h2>Nos Articles</h2>
<p>
  {% for description in descriptions %}
    {% if description.titre == "articles" %}
      {{ description.contenu }}
    {% endif %}
  {% endfor %}
</p>
<div class="row">
  {% for article in derniers_articles reversed %}

      <div class="col-md-4">

          <h3>{{ article.titre }}</h3>
          <div class="article-content">
              <img style="height:9em; width:auto; margin-bottom:0.5em;" src="{{article.photo.url}}"/>
            {{ article.contenu|truncatewords_html:40 }}
          </div>
          <div class="article-footer">
            <a href="{% url 'article' article.id %}" class="article-read-more">Lire la suite</a>
          </div>
      </div>

  {% empty %}
    <div class="col-md-4">
      <p>Aucun article disponibles.</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
