<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}REC - Radio ESIEA Club{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <img class="logo" src="/static/img/logo.png">
        <h1>R.E.C.</h1>
        <p>Radio Esiea Club</p>
      </div>
      {% block nav-bar %}
      <ul class="navbar-bar">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span><span class="navbar-menu-tag"> Accueil</span></a></li>
        <li><a href="/radio"><span class="glyphicon glyphicon-headphones"></span><span class="navbar-menu-tag"> Radio</span></a></li>
        <li><a href="/bonplans"><span class="glyphicon glyphicon-thumbs-up"></span><span class="navbar-menu-tag"> Bons-Plans</span></a></li>
        <li><a href="/articles"><span class="glyphicon glyphicon-list-alt"></span><span class="navbar-menu-tag"> Articles</span></a></li>
        <li><a href="/videos"><span class="glyphicon glyphicon-facetime-video"></span><span class="navbar-menu-tag"> Videos</span></a></li>
        <li><a href="/partenaires"><span class="glyphicon glyphicon-user"></span><span class="navbar-menu-tag"> Partenaires</span></a></li>
      </ul>
      {% endblock %}
      <div class="content">
        {% block subtitle %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
      <div class="feet">
          Retrouvez nous aussi sur...
          <a href="https://www.facebook.com/RadioEsieaClub/" class="article-button fb" type="button" name="button" onclick="window.open(this.href); return false;">Fb</a>
          <a href="https://www.youtube.com/channel/UCQsXpPw53Wi5U1GJzeq07Wg" class="article-button yt" type="button" name="button" onclick="window.open(this.href); return false;">Yt</a>
      </div>
    </div>
  </body>
  <script>(function (win, doc, script, source, objectName) { (win.RadionomyPlayerObject = win.RadionomyPlayerObject || []).push(objectName); win[objectName] = win[objectName] || function (k, v) { (win[objectName].parameters = win[objectName].parameters || { src: source, version: '1.1' })[k] = v; }; var js, rjs = doc.getElementsByTagName(script)[0]; js = doc.createElement(script); js.async = 1; js.src = source; rjs.parentNode.insertBefore(js, rjs); }(window, document, 'script', 'https://www.radionomy.com/js/radionomy.player.js', 'radplayer'));
  radplayer('url', 'radioesieaclub');
  radplayer('type', 'horizontal');
  radplayer('autoplay', '0');
  radplayer('volume', '50');
  radplayer('color1', '#75292F');
  radplayer('color2', '#F8CB96');
  </script>
</html>
