{% extends "base.html" %}
{% block content %}
<div>
  <h2>La Web Radio</h2>
  <p>
    {% for description in descriptions %}
      {% if description.titre == "radio" %}
        {{ description.contenu }}
      {% endif %}
    {% endfor %}
  </p>
  <span style="display: inline; width: 100%">
	  <div id="player" class="radionomy-player"></div>
	  <iframe height="100" style="margin-left:20px;" width="220" frameborder="0" src="dedi" scrolling="no"></iframe>
  </span>
  <p>En cas de soucis, vous pouvez écouter votre radio préférée <a style="color:blue;" href="http://listen.radionomy.com/radioesieaclub">ici</a>.</p>
</div>
{% endblock %}
