{% extends "base.html" %}
{% block content %}
<h2>Nos Partenaires</h2>
<p>
  {% for description in descriptions %}
    {% if description.titre == "sponsors" %}
      {{ description.contenu }}
    {% endif %}
  {% endfor %}
</p>
<div class="row">
  {% for partenaire in partenaires %}
  <div class="col-md-4">
  <div class="sponsor-content">
    <h3>{{ partenaire.nom }}</h3>
    <img src="{{ partenaire.logo.url }}"/>
    <h4>Site Web : <a href="{{ partenaire.url }}">{{ partenaire.url }}</a></h4>
  </div>
</div>
  {% empty %}
  <div class="col-md-4">
    <p>Aucun Partenaires.</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
