@require "./data.styl"

//General
body
  background-color grey
  background-image url("/static/img/bkgrd.png")
  background-repeat no-repeat
  background-attachment fixed
  background-position center
  background-size cover
  @media(max-width xs-max)
    background-image none

h1
  color white
  font-size 4em
  text-align: center;
  font-family simson-font
  margin 0
  padding .5em 0 .25em 0

h2
  font-size 2em
  font-family main-font
  padding .15em 0
  margin-top: 1em
  color orange
  @media(max-width xs-max)
    font-size 1.5em

h3
  font-size 1.25em
  font-family main-font-light
  color beige

h4
  font-size 1em
  font-family main-font-light
  color white

p
  font-size 1.2em
  text-align justify
  color: white
  margin-bottom: 3em

text, a
  text-align justify
  font-size 1.2em
  color: white
  @media(max-width xs-max)
    font-size .8em

//Header
.jumbotron
  background-color  bordeaux
  border-radius 0
  margin 0
  font-family simson-font
  padding 1.5em 0 1em 0
  text-align left
  h1
    color beige
    font-size 5em
    text-align: left;
    padding 0
  p
    color orange
    font-size 2em
    margin 0
    padding 0
    font-family script-MT
  @media(max-width xs-max)
    padding 0
    padding-top 0.75em
    text-align center
    h1
      font-size 5em
    p
      display none

//logo dimension

.logo
  float left
  margin 0
  margin-right: 2em
  height 7.5em
  width auto
  @media(max-width sm-max)
    display none


//Navigation bar

.navbar-bar
  display flex
  justify-content space-around
  list-style-type none
  margin 0
  padding 0
  background-color orange
  li
    & a
      font-family script-MT
      display block
      color bordeaux
      padding .5em 1em
      text-decoration none
      font-size 1.5em
      transition(.25s)
      @media(max-width xs-max)
        font-size 1.25em  min-height 100em
        padding .5em 1em
      &.active
        background-color rouge
        color white
        font-weight bold
        @media(max-width xs-max)
          background-color beige
          color orange
      &:hover:not(.active), &:focus
        background-color beige
        color orange


.navbar-menu-tag
  @media(max-width xs-max)
    display none

.affix
    top 0
    z-index: 9999 !important;

  .affix + .container-fluid
    padding-top: 70px;

//Body
.container
  background-color rgba(0, 0, 0, 0.70)
  padding 0


.content
  padding 1em 1.5em 2em 1.5em
  @media(max-width xs-max)
    padding .5em

.feet
  padding 1em 0
  font-family script-MT
  font-size 2em
  background-color bordeaux
  color beige
  text-align center
  a
    font-family: script-MT
    font-size: 1em
  .fb
    background-color: #4267b2
  .yt
    background-color: #ff0000
  @media(max-width xs-max)
    font-size 1.25em



//Articles
.article-content
  text-align justify
  color white

.article-footer
  display flex
  flex-direction row-reverse
  align-items flex-end
  justify-content space-between
  padding .5em 0
  margin-bottom: 3em

.article-read-more
  color white
  background-color grey
  font-size 1.2em
  font-family main-font-light
  border-style none
  padding .1em .5em
  transition(.15s)
  @media(max-width xs-max)
    font-size 1em
  &:hover
    background-color orange
    color bordeaux
  &:focus
    color bordeaux

.article-button
  color white
  background-color grey
  border-radius 50%
  font-size 1.2em
  font-family main-font-light
  border-style none
  padding .5em .5em .3em .45em
  margin-left .25em
  transition(.15s)
  &:hover
    background-color orange
    color wine
  &:focus
    color white

.article-form
  padding-top 1em
  label
    font-family main-font-light
    color grey
  input[type=text],textarea
    width 100%
  input[type=submit]
    font-family main-font-light
    float right
    background-color grey
    color white
    border none
    font-size 1.2em
    padding .5em 1em .25em 1em
    margin-bottom 1em
    transition(.15s)
    &:hover
      background-color orange
      color wine
    @media(max-width xs-max)
      width 50%

//Videos
.video
  h3
    @media(max-width xs-max)
      display none
